<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2 align="center">Face Detection Tests</h2>
<p align="center"><a href=faceResults>
    <button class=grey style="height:75px;width:150px">Run and view results</button>
</a></p>
<br>
<br>
<h2 align="center">E2E Tests</h2>
<p align="center"><a href=e2eResults>
    <button class=grey style="height:75px;width:150px">Run and view results</button>
</a></p>
</body>
</html>